__pycache__/config.cpython-314.pyc
__pycache__/interfaz.cpython-314.pyc
__pycache__/logica.cpython-314.pyc
sistema ventas.rar
__pycache__/reportes.cpython-314.pyc
.gitignore
__pycache__/ventana_reportes.cpython-314.pyc
