__pycache__/config.cpython-314.pyc
__pycache__/interfaz.cpython-314.pyc
__pycache__/logica.cpython-314.pyc
sistema ventas.rar
__pycache__/reportes.cpython-314.pyc
.gitignore
__pycache__/ventana_reportes.cpython-314.pyc
build.bat
productos.csv
reporte_completo_20251129_194911.csv
build/SistemaBazar/Analysis-00.toc
build/SistemaBazar/base_library.zip
build/SistemaBazar/EXE-00.toc
build/SistemaBazar/PKG-00.toc
build/SistemaBazar/PYZ-00.pyz
build/SistemaBazar/PYZ-00.toc
build/SistemaBazar/SistemaBazar.pkg
build/SistemaBazar/warn-SistemaBazar.txt
build/SistemaBazar/xref-SistemaBazar.html
build/SistemaBazar/localpycs/pyimod01_archive.pyc
build/SistemaBazar/localpycs/pyimod02_importers.pyc
build/SistemaBazar/localpycs/pyimod03_ctypes.pyc
build/SistemaBazar/localpycs/pyimod04_pywin32.pyc
build/SistemaBazar/localpycs/struct.pyc
dist/SistemaBazar.exe
SistemaBazar_v1.2.0/config_stock.txt
SistemaBazar_v1.2.0/LEEME.md
SistemaBazar_v1.2.0/LEEME.txt
SistemaBazar_v1.2.0/SistemaBazar.exe
SistemaBazar_v1.2.0/ventas/ventas_2025-11-30.csv
ventas/ventas_2025-11-29.csv
productos.csv
SistemaBazar.spec
productos.csv
__pycache__/config.cpython-313.pyc
__pycache__/interfaz.cpython-313.pyc
__pycache__/logica.cpython-313.pyc
__pycache__/reportes.cpython-313.pyc
__pycache__/ventana_reportes.cpython-313.pyc
ventas/ventas_2025-12-05.csv
productos.csv
reporte_completo_20251205_170148.csv
productos.csv
productos.csv
